*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;

}

body{
    background:#f8f4e8;
    min-height:100vh;
    padding:20px;
    overflow:hidden;
}

.container{
    display:flex;
    gap:25px;
}

.logo{
    width:130px;
    display:flex;
    position:relative;
    align-items:center;
    position:relative;
    

}

.sidebar{
    width:180px;
    height:95vh;

    background:linear-gradient(180deg,#a58cff,#7e56f6);

    border-radius:25px;

    padding:25px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
}


.perfil{
    margin:30px auto;
    width:80px;
    height:80px;
    border-radius:50%;
    overflow:hidden;
    background:#fff7aa;
}

.perfil img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.menu-btn{
    width:100%;
    border:none;
    margin-bottom:15px;
    padding:12px;

    border-radius:20px;

    background:#8c66ff;
    color:white;
    cursor:pointer;
}

.logout{
    border:none;
    background:none;
    color:white;
    font-size:20px;
    cursor:pointer;
}

/* CONTENT */

.content{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:25px;
}

/* BANNER */

.banner{
    background:linear-gradient(90deg,#8658ff,#aa8cff);

    height:170px;
    border-radius:30px;

    padding:35px 40px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.banner h2{
    color:white;
    font-size:50px;
}

.banner p,
.banner span{
    color:white;
}

.banner img{
    width:180px;
}

.urso2{
    position:absolute;
    right:0;
    width:400px;
}

/* CARDS */

.cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.card{
    background:linear-gradient(135deg,#8356ff,#a178ff);

    border-radius:30px;
    min-height:270px;

    padding:25px;
}

.card h3{
    color:white;
    margin-bottom:20px;
    font-size:32px;
}

/* CALENDÁRIO */

.dias{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    gap:10px;
    text-align:center;
}

.dias span{
    color:white;
    font-size:14px;
}

/* GRÁFICO */

.grafico{
    display:flex;
    justify-content:center;
    align-items:flex-end;
}

.bars{
    width:100%;
    height:180px;

    display:flex;
    justify-content:space-evenly;
    align-items:flex-end;
}

.bar{
    width:60px;
    background:#fff089;
    border-radius:10px 10px 0 0;
}

.bar1{
    height:170px;
}

.bar2{
    height:100px;
}

.bar3{
    height:45px;
}

/* TAREFAS */

.task{
    width:100%;
    height:28px;

    background:#fff089;

    border-radius:20px;

    margin-bottom:20px;

    position:relative;
}

.task::before{
    content:"";
    width:35px;
    height:35px;

    border-radius:50%;
    background:white;

    position:absolute;
    left:-5px;
    top:-3px;
}

/* FOOTER */

.footer-card{
    background:linear-gradient(90deg,#8658ff,#a98cff);

    color:white;

    padding:35px 40px;

    border-radius:30px;

    font-size:28px;
    font-weight:500;
}

@media(max-width:1000px){

    .cards{
        grid-template-columns:1fr;
    }

    .container{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
        height:auto;
    }

    .banner{
        flex-direction:column;
        text-align:center;
        height:auto;
        gap:20px;
    }
}