<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <link rel="stylesheet" href="../styles/css/cadastro.css">
</head>

<body>

<div class="container">

    <div class="left">

        <h1>
            Faça o seu
            <span class="texto2">cadastro</span>
        </h1>

        <div class="urso">
            <img src="../styles/img/urso.png" alt="Urso">
        </div>

    </div>

    <div class="right">

        <form class="form-box" id="cadastroForm">

            <div class="input-group">
                <input
                    id="email"
                    type="email"
                    placeholder="Email"
                    required
                >
            </div>

            <div class="input-group">
                <input
                    id="nome"
                    type="text"
                    placeholder="Nome"
                    required
                >
            </div>

            <div class="input-group">
                <input
                    id="senha"
                    type="password"
                    placeholder="Senha"
                    required
                >
            </div>

            <button class="btn-cadastro" type="submit">
                Cadastrar →
            </button>

        </form>

    </div>

</div>

<script src="../static/js/cadastro.js"></script>

</body>
</html>