<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Idea Wall</title>

    <link rel="stylesheet"
          href="../styles/css/home.css">

    <link rel="preconnect"
          href="https://fonts.googleapis.com">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
          rel="stylesheet">

</head>

<body>

<section class="hero">

    <div class="area">
        <img src="../styles/img/simbolo.png" alt="simbolo" class="simbolo">
        <h1>

            Bem vindo(a)

            <span>

                ao Idea Wall

            </span>

        </h1>


        <p>

            O lugar perfeito para dar vida às suas ideias,
            organizar seus projetos e transformar planos
            em realidade.

        </p>


        <div class="cards">

            <div class="card">

                <div class="icone">

                    <img src="../styles/img/lampada.png">

                </div>

                <span>Inspire-se</span>

            </div>



            <div class="card">

                <div class="icone">

                    <img src="../styles/img/folha.png">

                </div>

                <span>Organize</span>

            </div>



            <div class="card">

                <div class="icone">

                    <img src="../styles/img/foguete.png">

                </div>

                <span>Realize</span>

            </div>


        </div>


        <button onclick="window.location.href='../templates/login.html'" >

            <b>Começar agora →</b>

        </button>

    </div>



    <div class="mesa">

        <img src="../styles/img/mesa.png">

    </div>

</section>

</body>

</html>