<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/css/login.css">
</head>
<body>


    <div class="container">

    <div class="left">

        <h1>
            Faça o seu
            <span class="texto2">login</span>
        </h1>

        <div class="urso">
            <img src="../styles/img/urso.png" alt="urso">
        </div>

    </div>

    <div class="right">

        <form class="form-box">

            <div class="input-group">
                <input type="email" placeholder="Email">
            </div>


            <div class="input-group">
                <input type="password" placeholder="Password">
            </div>

            <div class="cadastro" onclick="window.location.href='../templates/cadastro.html'">
                <a href="#">Ainda não está cadastrado?</a>
            </div>

            <button class="btn-login" onclick="window.location.href='../templates/index.html'">
                Login →
            </button>

        </form>

    </div>

</div>
</body>
</html>